@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: roboto;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* NAV BAR */
header {
  display: relative;
  position: fixed;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  justify-content:space-between;
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid black;
  align-items: center;
}

.left {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;

}

.right {
  padding: 40px;
  display: flex;
  flex-direction: row;
}


.global-button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(255, 0, 0);
  color: white;
  border: 1px solid transparent;
}

.global-button:hover {
  cursor: pointer;
  background: rgba(255, 230, 0, 1);
  color: #000;
  border: 1px solid black;
}

.right-link {
  margin: 0 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

main {
  padding-top: 10vh;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
/* FORM */
h3 {
  font-size: 25px;
}

.email-form {
  width: 500px;
  height: auto;
  padding: 20px;
}

.form-item {
  margin: 10px;
}

#email {
  padding: 10px;
  width: 60%;
}

.form-item::placeholder {
  font-size: auto;
  
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}

/* GRID */
.features {
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: repeat(3, 100px);
  grid-template-areas:
    "img1 box1"
    "img2 box2"
    "img3 box3";
    align-items: center;
    justify-items: start;
    background: rgb(255, 255, 255);
    column-gap: 25px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.feature-text {
  margin-top: 10px;
}

.grid {
  padding: 15px;
  
}

.grid-img {
  height: 50px;
  width: auto;
}

.grid-item1 {
  grid-area: img1;
  place-self: center end;
}

.grid-item2 {
  grid-area: box1;
  
}

.grid-item3 {
  grid-area: img2;
  place-self: center end;

}

.grid-item4 {
  grid-area: box2;
}

.grid-item5 {
  grid-area: img3;
  place-self: center end;

}

.grid-item6 {
  grid-area: box3;
}


/* VIDEO */
.video {
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/* PRICING GRID */
.pricing {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: auto;
  justify-content: center;
  background: rgb(255, 255, 255);
  margin-top: 50px;
}

.pricing-block {
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  padding: 20px;
}

.pricing-item1 {
  padding: 10px;
  background: rgb(190, 190, 190);
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  
}

.pricing-item2 {
  margin: 10px;
}

.pricing-item3 {
  display: flex;
  text-align: center;
  padding: 10px;
}

.pricing-item4 {
  display: flex;
  
}

.pricing-button {
  font-size: auto;
  width: 125px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(255, 0, 0);
  color: white;
  border: 1px solid transparent;
}

.pricing-button:hover {
  cursor: pointer;
  background: rgba(255, 230, 0, 1);
  color: #000;
  border: 1px solid black;
}

.pricing-title {
  font-weight: bold;
  font-size: 25px;
  color
  
}

.big-bold {
  font-weight: 600;
  font-size: 20px;
}

hr {
  width: 80%;
}

/* FOOTER */

footer {
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: end;
  background: rgb(190, 190, 190);
  margin-top: 100px;
}
.footer {
  display: flex;
}

.footer-links {
  padding: 20px;
}

.copyright {
  padding: 20px;
}